<% @books.each_with_index do |book, index| %>
  <tr>
    <td><%= index+1 %></td>
    <td>
      <% if book.picture.present? %>
        <%= image_tag(book.picture, size: Settings.admin.book_size) %>
      <% else %>
        <%= image_tag(Settings.books.default_book,
          size: Settings.admin.book_size) %>
      <% end %>
    </td>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.description %></td>
    <td><%= book.publish_date %></td>
    <td><%= book.pages %></td>
    <td><%= book.average_rate %></td>
    <td>
      <%= link_to admin_book_path(book),
        data: {toggle: "tooltip", placement: "top"}, title: t("views.button.edit") do %>
        <span class= "glyphicon glyphicon-pencil" ></span>
      <% end %>
      <%= link_to admin_book_path(book),
        method: :delete, data: {confirm: t("views.admin.message.confirm")},
        data: {toggle: "tooltip", placement: "top"}, title: t("views.button.delete") do %>
        <span class= "glyphicon glyphicon-trash" ></span>
      <% end %>
    </td>
  </tr>
<% end %>
