<% provide :title, t("views.admin.books.index.all_books") %>
<div class="card-panel">
  <div class="login">
    <%= link_to t("views.admin.books.create_book"), "#",
      class: "btn btn-md btn-primary" %>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr class="info">
      <th><%= t "views.admin.books.index.id" %></th>
      <th><%= t "views.admin.books.index.picture" %></th>
      <th><%= t "views.admin.books.index.title" %></th>
      <th><%= t "views.admin.books.index.author" %></th>
      <th><%= t "views.admin.books.index.description" %></th>
      <th><%= t "views.admin.books.index.publish_date" %></th>
      <th><%= t "views.admin.books.index.page" %></th>
      <th><%= t "views.admin.books.index.rate" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @books %>
  </tbody>
</table>
<%= paginate @books %>
<%= page_entries_info @books %>
