<% provide :title, t("views.admin.books.index.all_books") %>
<h1><%= t "views.admin.books.index.all_books" %></h1>
<div class="col-md-12">
  <div>
    <%= search_form_for @search, class: "form-inline" do |f| %>
      <%= f.text_field :title_cont, class: "form-control",
        placeholder: t("views.admin.books.index.placeholder.title") %>
      <%= f.text_field :author_cont, class: "form-control",
        placeholder: t("views.admin.books.index.placeholder.author") %>
      <%= f.submit t("views.admin.user.search"), class: "btn btn-primary" %>
    <% end %>
  </div><br>
  <table class="table table-hover">
    <thead>
      <tr class="info">
        <th><%= t "views.admin.books.index.id" %></th>
        <th><%= t "views.admin.books.index.picture" %></th>
        <th><%= t "views.admin.books.index.title" %></th>
        <th><%= t "views.admin.books.index.author" %></th>
        <th><%= t "views.admin.books.index.description" %></th>
        <th><%= t "views.admin.books.index.publish_date" %></th>
        <th><%= t "views.admin.books.index.page" %></th>
        <th><%= t "views.admin.books.index.rate" %></th>
        <th><%= t "views.admin.categories.index.category_action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render "book" %>
    </tbody>
  </table>
</div>
<%= paginate @books %>
<%= page_entries_info @books %>
