<div class="row">
  <div class="comment">
    <%= form_for add_comment, html: {id: "comment_form"} do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :review_id, value: add_comment.review_id %>
      <table class="table">
        <tr>
          <td>
            <%= f.text_field :content, id: "comment", class: "form-control",
              required: "true" %>
          </td>
          <td>
            <%= f.submit t("views.comments.comment"), class: "btn btn-success",
              id: "button_comment" %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
