<% provide :title, @title %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @user.avatar.present? %>
        <%= image_tag(user.avatar, size: Settings.users.ava_size) %>
      <% else %>
        <%= image_tag(Settings.users.default_avatar,
          size: Settings.users.ava_size) %>
      <% end %>
      <h2><%= @user.name %></h2>
      <span><%= link_to t("views.users.view_profile"), @user %></span>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-4">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users_follow">
        <% @users.each do |user| %>
          <li class="user_follow">
            <% if @user.avatar.present? %>
              <%= image_tag(user.avatar, size: Settings.users.ava_size) %>
            <% else %>
              <%= image_tag(Settings.users.default_avatar,
                size: Settings.users.ava_size) %>
            <% end %>
            <%= link_to user.name, user %>
          </li>
        <% end %>
      </ul>
      <%= paginate @users %>
    <% end %>
  </div>
</div>
