<div class="reading_books">
  <div class="title">
   <h3><%= t "views.users.reading" %></h3>
  </div>
  <% if @reading_books.blank? %>
    <p><%= t "views.users.no_reading" %></p>
  <% else %>
    <div id="list_reading_book">
      <% @reading_books.each do |reading_book| %>
        <li class="list-group-item list-group-item-info">
          <% if reading_book.picture.present? %>
            <%= image_tag(reading_book.picture,
              size: Settings.books.book_size) %>
          <% else %>
            <%= image_tag(Settings.books.default_book,
              size: Settings.books.book_size) %>
          <% end %>
          <%= link_to reading_book.title, reading_book %>
          <%= t "views.users.start_read" %>
          <%= reading_book.updated_at.strftime t("views.comments.time_format") %>
          <br>
        </li>
      <% end %>
    </div>
  <% end %>
  <%= paginate @reading_books %>
</div>
