<% provide :title, @book.title %>
<div class="row" id="show_book">
  <p id="info"></p>
  <div class="col-md-3">
    <% if @book.picture.present? %>
      <%= image_tag(@book.picture, size: Settings.books.book_size_large,
        class: "img-thumbnail") %>
    <% else %>
      <%= image_tag(Settings.books.default_book,
        size: Settings.books.book_size_large,
        class: "img-thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="detail">
      <div class="title">
        <h2><b><%= @book.title %></b></h2>
      </div>
      <h4><%= t "views.books.author" %></h4>
      <p><%= @book.author %></p>
      <h4><%= t "views.books.date" %></h4>
      <p><%= @book.publish_date %></p>
      <h4><%= t "views.books.pages" %></h4>
      <p><%= @book.pages %></p>
      <h4><%= t "views.books.type" %></h4>
      <p><%= @book.category.name %></p>
      <h4><%= t "views.books.description" %></h4>
      <p><%= @book.description %></p>
      <h4><%= t "views.books.isbn" %></h4>
      <p><%= @book.isbn %></p>
      <h4><%= t "views.review.average_rate" %></h4>
      <p><%= @book.average_rate %></p>
    </div>
  </div>
  <div class="col-md-5" id="mark_index">
    <h2><%= t "views.mark_book.mark_this_book" %></h2>
    <br>
    <div id="favorite">
      <% if current_user.present? %>
        <%= render "user_books/user_book_form", user_book: @user_book %>
      <% end %>
    </div>
    <br>
    <div>
      <% if current_user.present? %>
        <h2><%= t "views.review.create" %></h2>
        <%= render "reviews/review_form", review: @new_review %>
      <% end %>
    </div>
  </div>
</div>
<%= render "reviews", reviews: @reviews %>
