<% provide :title, t("views.admin.categories.index.title") %>
<h1><%= t "views.admin.categories.index.title" %></h1>
<div class="col-md-12">
  <div>
    <%= link_to t("views.admin.categories.index.add_category"),
      new_admin_category_path, class: "btn btn-primary" %>
  </div><br>
<div class="categories">
  <%= search_form_for [:admin, @search], url: admin_categories_path,
    method: :get do |f| %>
    <table class="table">
      <tr>
        <td><%= f.search_field :name_cont, class: "form-control",
          placeholder: t("views.admin.categories.index.placeholder_name") %></td>
        <td><%= f.submit t("views.admin.categories.index.search_button"),
          class: "btn btn-info" %></td>
      </tr>
    </table>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr class="info">
      <th class="number">
        <%= t "views.admin.categories.index.category_number" %>
      </th>
      <th class="name">
        <%= t "views.admin.categories.index.category_name" %>
      </th>
      <th class="action">
        <%= t "views.admin.categories.index.category_action" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each_with_index do |category, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to category.name, admin_books_path(category_id: category.id) %></td>
        <td>
          <%= link_to new_admin_book_path(id: category.id),
            data: {toggle: "tooltip", placement: "top"},
            title: t("views.button.add_book") do %>
            <span class= "glyphicon glyphicon-plus" ></span>
          <% end %>
          <%= link_to edit_admin_category_path(category),
            data: {toggle: "tooltip", placement: "top"},
            title: t("views.button.edit") do %>
            <span class= "glyphicon glyphicon-pencil" ></span>
          <% end %>
          <%= link_to admin_category_path(category), method: :delete,
            data: {confirm: t("views.admin.message.confirm"),
            toggle: "tooltip", placement: "top"},
            title: t("views.button.delete") do %>
            <span class= "glyphicon glyphicon-trash" ></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @categories %>
