<% provide :title, t("views.categories.index.title") %>
<h1><%= t "views.categories.index.title" %></h1>
<table class="table table-striped">
  <thead>
    <tr class="info">
      <th class="number">
        <%= t "views.categories.index.category_number" %>
      </th>
      <th class="name">
        <%= t "views.categories.index.category_name" %></th>
    </tr>
  </thead>
  <div>
    <%= search_form_for @search, class: "form-inline" do |f| %>
      <div class="col-md-5">
        <%= f.text_field :name_cont, class: "form-control",
          placeholder: t("views.admin.categories.index.search_form") %>
      </div>
      <%= f.submit t("views.admin.user.search"), class: "btn btn-primary" %>
    <% end %>
  </div></br>
  <tbody>
    <% @categories.each_with_index do |category, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to category.name, books_path(category_id: category.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @categories %>
