<%= provide :title,t("views.admin.user.show_user") %>
<h1><%= t "views.admin.user.show_user" %></h1>
<ul class="users">
  <%= search_form_for [:admin, @search] do |f| %>
    <table class="table">
      <tr>
        <td><%= f.text_field :name_cont, class: "form-control",
          placeholder: t("views.users.index.placeholder_name") %></td>
        <td>
          <%= f.submit t("views.admin.user.search"), class: "btn btn-primary" %>
        </td>
      </tr>
    </table>
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr class="info">
        <th><%= t "admin.users.index" %></th>
        <th><%= t "admin.users.name" %></th>
        <th><%= t "admin.users.email" %></th>
        <th><%= t "admin.users.avatar" %></th>
        <th><%= t "admin.users.action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.avatar.present? %>
              <%= image_tag(user.avatar, size: Settings.users.ava_size) %>
            <% else %>
              <%= image_tag(Settings.users.default_avatar,
                size: Settings.users.ava_size) %>
            <% end %>
          </td>
          <td>
            <% if can?(:delete, @user) && !user.admin? %>
              <%= link_to admin_user_path(user), method: :delete,
                data: {confirm: t("views.admin.message.confirm"),
                toggle: "tooltip", placement: "top"},
                title: t("views.button.delete") do %>
                <span class= "glyphicon glyphicon-trash" ></span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</ul>
<%= paginate @users %>
<%= page_entries_info @users %>
