<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("views.header.name_title"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("views.header.home"), root_path %></li>
        <li><%= link_to t("views.header.help"), help_path %></li>
        <% if can? :manage, :all %>
        <li><%= render "layouts/manager" %></li>
        <% end %>
        <% if current_user.present? %>
          <li>
            <%= link_to t("views.button.logout"), destroy_user_session_path,
              method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to t("views.button.login"), new_user_session_path  %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
